dom-module#quill-footer
  template
    style.
      :host ::content .left.aligned {
        text-align: left;
      }

    .ui.center.aligned.stackable.grid
      .six.wide.column
        h4.ui.inverted.left.aligned.header What is this?
        p.left.aligned !{config.service.about}

  script.
    Polymer({
      is: 'quill-footer',
      ready: function() {
        console.log('[QUILL:FOOTER]', 'ready');
      }
    });
